* 
{
	margin: 0px; 
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color:#999;
}
body {
    background-color:#f8f8f8;
}
body, input, textarea,button
{
    font-size: 13px;
}
img
{
	outline: none;
	border: 0px;
	padding: 0px;
	margin: 0px;
}
input
{
    outline-color:rgba(0,0,0,0);
}
input::-webkit-input-placeholder {
	color: #999 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
	color: #999 !important;
    opacity:1;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
	color: #999 !important;
    opacity:1;
}
 
input:-ms-input-placeholder {  
	color: #999 !important;  
}

.greentext 
{
    color: #46b79b;
}
.ui-autocomplete
{
	box-shadow: 3px 3px 8px #999; /*shadow for CSS3 capable browsers.*/
	-webkit-box-shadow: 3px 3px 8px #999;
	-moz-box-shadow: 3px 3px 8px #999;
	border-radius:0px 0px 5px 5px;
}
.ui-state-active
{
	color:#999 !important;
	background: #edeef2 !important;
	border: 0px solid rgba(0,0,0,0) !important;
	margin:0px !important;
}
#header
{
    background-color:#2b337b;
    min-width:1008px;
    height:130px;
}
#header div.pagewrapper
{
    width:1008px;
    margin:0px auto;
}
#header span.logo
{
    background: url(../images/DOSprite.png) 0px 0px;
    width:180px;
    height:90px;
    margin:20px 0px;
    float:left;
    display:block;
}
#header div.navwrapper 
{
    float:right;
}
#header div.toprow
{
    height: 49px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(rgba(255,255,255,.1)), to(rgba(255,255,255,.0)));
    background: -webkit-radial-gradient(circle, rgba(255,255,255,.1), rgba(255,255,255,.0));
    background: -moz-radial-gradient(circle, rgba(255,255,255,.1), rgba(255,255,255,.0));
    background: -ms-radial-gradient(circle, rgba(255,255,255,.1), rgba(255,255,255,.0));
    clear:both;
}
#header div.toprownav
{
    margin:15px 0px;
    float:right;
    line-height:20px;
}
#header div.silhouette
{
	display:inline-block;
	width:17px;
	height:18px;
	background:  url(../images/DOSprite.png) 0px -90px;
	vertical-align: bottom;
    margin-left: 15px;
    float:left;
}
#header div.register{
    display: inline-block;
    color: white;
    line-height:20px;
    float:left;
    margin-left:15px;
    cursor:pointer;
}
#header div.register a
{
    color: white;
    text-decoration:none;
}
#header  div.socialbtns
{
    float:left;
    margin-right:5px;
}
#header  div.socialbtns a.instagram
{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../images/DOSprite.png) -525px -112px;
    cursor: pointer;
	zoom: 0.90;
	-moz-transform: scale(0.90);
    -moz-transform-origin: 0% 50%;
}
#bookmarkme
{
    padding: 2px 9px;
    color: #fff;
    border-top: 1px solid #8dfcdc;
    border-bottom: 1px solid #2e776a;
    background: #43b89b;
    background: -webkit-linear-gradient(0deg, #41a895, #46bd9f);
    background: -o-linear-gradient(0deg, #41a895, #46bd9f);
    background: -moz-linear-gradient(0deg, #41a895, #46bd9f);
    background: linear-gradient(0deg, #41a895, #46bd9f);
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
    text-decoration: none;
}
#header div.bottomrow
{
    float:right;
    line-height:70px;
    clear:both;
    padding: 15px 0px;
}
#header div.quicksearch
{
    position:relative;
    background-color:#fff;
    border-radius:5px;
    height:40px;
    width: 280px;
    float:left;
}
#header div.quicksearchicon
{
	position:absolute;
	top:12px;
	right:10px;
	width:17px;
	height:18px;
	background: url(../images/DOSprite.png) -17px -90px;
}
#quicksearch
{
	position:absolute;
    top:0px;
    right:0px;
    width: 260px;
	height:40px;
	padding: 0px 10px;
	background-color:transparent;
	border:0px;
	outline: 0px;
}
#quicksearch::-ms-clear
{
    display:none;
}
#header a.blog, #header div.restaurantowners, #header div.guestservices
{
    text-decoration:none;
    cursor:pointer;
    line-height: 42px;
    color:#fff;
    display:inline-block;
    float:left;
}
#header div.restaurantowners, #header div.guestservices
{
    padding:0px 15px;
    border-right:1px solid #999;
}
#header a.blog
{
    padding:0px 15px;
}
.ui-state-focus
{
	background:#edeef2 !important;
	border:0px !important;
	margin:0px !important;
	color:#999 !important;
}

/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat;
}
#alertblanket
{
	background-color:rgba(0,0,0,.4);
	position:fixed;
	z-index: 9101;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#alertpop
{
	background-color: rgba(255, 255, 255, 0);
	padding:0px;
	position:fixed;
	top: 50%;
	left: 50%;
	min-width:300px;
    max-width: 800px;
	z-index: 9302;
    border: 1px solid #999;
    border-radius: 2px;
}
#alertpop a
{
    color:#000dff;
    text-decoration:underline;
}
#alertpop > div.formheader
{
	padding:5px 0px;
    background-color:#fff;
    border-radius: 6px 6px 0px 0px;
}
#alertpop > div.formheader > div.title
{
	display:block;
	font-weight:bolder;
	width: 100%;
	text-align:center;
    color:#444;
    font-size: 120%;
    margin:5px 0px;
}
#alertpop > div.formheader > div.close
{
	display:block;
	width:25px;
    height:25px;
	text-align:center;
	cursor:pointer;
    position:absolute;
    right:-13px;
    top:-13px;
    background: url(../images/DOSprite.png) -112px -90px;
}
#alertpop > div.msg
{
	min-width:300px;
	padding:10px;
    border-top:1px solid #e1e1e1;
	text-align:center;
	line-height:140%;
    background-color:#fafafa;
    border-radius: 0px 0px 6px 6px;
}
#alertpop .msgbtn
{
	padding:5px 10px;
    border-top: 1px solid #8dfcdc;
    border-bottom: 1px solid #2e776a;
    background: #43b89b; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(0deg, #41a895, #46bd9f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #41a895, #46bd9f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #41a895, #46bd9f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #41a895, #46bd9f); /* Standard syntax */
    border-radius: 5px;
    color: white;
	cursor:pointer;
    display: inline-block;
    margin: 5px;
}
#blanket
{
	background-color:rgba(0,0,0,.4);
	position:fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#footer
{
    width:100%;
    min-width:1008px;
    background-color: #2b337b;
}
#footer div,#footer span,#footer a,#footer h5
{
    color:#fff;
}
#footer a
{
    text-decoration:none;
}
#footer h5 
{
    font-size: 150%;
    font-weight: bolder;
    margin-bottom: 20px;
}
#footer div.pagewrapper
{
    width:1008px;
    margin:0px auto;
    display:table;
    position:relative;
}
#footer div.footerservices {
    position:absolute;
    width: 233px;
    padding: 15px 0px;
    float: left;
}
#footer div.footerservices:nth-child(1)
{
    top:0px;
    left:0px;
}
#footer div.footerservices:nth-child(2)
{
    top:0px;
    left:350px;
}
#footer div.footerservices a > div:hover{
    background-color: #3f4786;
}
#footer div.footerservices > a >div {
    padding: 2px 0px;
}
#footer div.footerconnectwithus {
    clear: left;
    width: 690px;
    position: absolute;
    bottom: 15px;
    left: 0px;
}
#footer div.footerconnectwithus > div {
    clear:both;
}
#footer div.footerconnectwithus h5 {
    display: inline-block;
    margin-right: 20px;
    float: left;
}

#FCFB,#FCTW,#FCUT
{
	position:relative;
	margin:0px 20px;
	height:31px;
	float:left;
}
#FCFB::after
{
	content:'';
    width: 14px;
    height: 22px;
    background: url(../images/DOSprite.png) -291px -2px;
	position: absolute;
	top:0px;
}
#FCTW::after
{
	content:'';
    width: 20px;
    height: 17px;
    background: url(../images/DOSprite.png) -333px -4px;
	position: absolute;
	top:3px;
}
#FCUT::after
{
	content:'';
	width: 21px;
    height: 24px;
    background: url(../images/DOSprite.png) -420px -1px;
	position: absolute;
	top:0px;
}
#footer div.footerconnectwithus a
{
    text-decoration:underline;
}
#footer div.footerguestsubscribe
{
    width: 300px;
    padding: 15px 0px;
    float: right;
}
#footer div.footerguestsubscribe > div {
    width: 300px;
    text-align: center;
    margin: 0px auto;
}
#footer div.FBSubscribeBtn {
    position: relative;
    margin: 0px auto 20px auto;
    line-height: 43px;
    width: 300px;
    border-radius: 5px;
    font-size: 120%;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border-top: 1px solid #8dfcdc;
    border-bottom: 1px solid #2e776a;
    background: #43b89b; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(0deg, #41a895, #46bd9f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #41a895, #46bd9f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #41a895, #46bd9f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #41a895, #46bd9f); /* Standard syntax */
}
#footer div.FBSubscribeBtn::after
{
    content:'';
    width: 14px;
    height: 22px;
    background: url(../images/DOSprite.png) -291px -2px;
	position: absolute;
    top: 10px;
    left: 10px;
}
#footer input.SubscribeFName, #footer input.SubscribeSName, #footer input.SubscribeEmail, #footer input.SubscribePostcode {
    height: 45px;
    background-color: white;
    border-radius: 5px;
    border: 0px;
	outline: 0px;
    padding: 0px 10px;
    margin-top: 7px;
}
#footer input.SubscribeFName {
    width: 125px;
    float: left;
}
#footer input.SubscribeSName {
    width: 125px;
    float: right;
}
#footer input.SubscribeEmail {
    width: 280px;
}

#footer div.SubscribeBtn {
    width: 300px;
    line-height: 43px;
    float: left;
    cursor: pointer;
    text-decoration: none;
    font-size: 120%;
    font-weight: bolder;
    margin-top: 7px;
    border-top: 1px solid #8dfcdc;
    border-bottom: 1px solid #2e776a;
    background: #43b89b; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(0deg, #41a895, #46bd9f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, #41a895, #46bd9f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, #41a895, #46bd9f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, #41a895, #46bd9f); /* Standard syntax */
    border-radius: 5px;
    color: white;
}

#footercopyright 
{
    background-color: #1b2362;
    min-width:1008px;
    line-height:30px;
    text-align:center;
}

/* Guest Login forms Signin, fogot password and register */
#GuestSignIn, #GuestForgotPassword, #GuestRegister
{
    position: absolute;
    z-index: 110;
    width: 350px;
    top: 300px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    border-radius: 5px;
}
#GuestSignIn h11, #GuestForgotPassword h11, #GuestRegister h11
{
    text-align: center;
    display: block;
    font-size: 2em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#GuestSignIn div.close, #GuestForgotPassword div.close, #GuestRegister div.close
{
    display: block;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: -13px;
    top: -13px;
    background: url(../images/DOSprite.png) -112px -90px;
}
#GuestSignIn div.Header, #GuestForgotPassword div.Header,  #GuestRegister div.Header
{
    padding: 15px;
    background: #fff;
    border-radius: 5px 5px 0px 0px;
}
#GuestSignIn form, #GuestForgotPassword form, #GuestRegister form
{
    padding: 25px 50px;
    background: #fafafa;
    border-top: 1px solid #e1e1e1;
    border-radius: 0px 0px 5px 5px;
}

#GuestSignIn div.DOSignInBtn, #GuestSignIn div.FBSignInBtn, #GuestForgotPassword div.DOForgotPWDBtn, #GuestRegister div.DOGuestRegisterBtn
{
    position: relative;
	margin-top: 13px;
    margin-right: auto;
    margin-left: auto;
    width: 238px;
    text-align: center;
    padding: 10px 5px 10px 5px;
    color: #fff;
    /* background-color: #43b89b; */
    border-top: 1px solid #8dfcdc;
    border-bottom: 1px solid #2e776a;
    background: #43b89b;
    background: -webkit-linear-gradient(0deg, #41a895, #46bd9f);
    background: -o-linear-gradient(0deg, #41a895, #46bd9f);
    background: -moz-linear-gradient(0deg, #41a895, #46bd9f);
    background: linear-gradient(0deg, #41a895, #46bd9f);
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
#GuestSignIn div.FBSignInBtn::after 
{
    content: '';
    width: 14px;
    height: 22px;
    background: url(../images/DOSprite.png) -291px -2px;
    position: absolute;
    top: 7px;
    left: 10px;
}

#GuestSignIn input, #GuestForgotPassword input, #GuestRegister input
{
    width: 238px;
    height: 45px;
    padding: 0px 5px;
    display: inline-block;
    border: 0px;
	outline: 1px solid #999;
    border-radius: 5px;
    margin-bottom: 13px;
}
#footer div label > span
{
	float:left;
	margin-top:7px;
}

#GuestSignIn div label > span::before, #GuestRegister div label > span::before
{
    content: '';
    background-color: #fff;
    display: inline-block;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    margin-right: 5px;
	border: 1px solid #999
}

#footer div label > span::before
{
    content: '';
    background-color: #fff;
    display: inline-block;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    margin-right: 5px;
}

#GuestSignIn div label > input:checked + span::before, #GuestRegister div label > input:checked + span::before, #footer div label > input:checked + span::before 
{
    background: #fff url(../images/DOSprite.png) -72px -89px no-repeat;
}
